{% extends 'layouts/simple.html.twig' %}

{% set title = t('Terms of service') %}
{% block title %}{{ title }}{% endblock %}
{% block canonical %}{{ url_full('terms') }}{% endblock %}

{% block body %}
    <div class="panel panel--grey panel--rounded panel--larger flow flow--larger">
        <h1 class="text--center">{{ title }}</h1>

        <div class="text-container">
            {{ terms | raw }}
        </div>

        <p class="text--center">
            <a class="button button--primary button--block button--big button--animated" href="{{ url('registration') }}">
                {{ icon('arrow-left') }}
                {{ t('Back to the registration') }}
            </a>
        </p>
    </div>
{% endblock %}
