<xsl:stylesheet version="3.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
    <xsl:output method="html" version="1.0" encoding="UTF-8" indent="yes"/>
    <xsl:template match="/">
        <html xmlns="http://www.w3.org/1999/xhtml" lang="{{ app.locale | locale_to_bcp_47 }}" data-color-scheme="light">
            <head>
                <title><xsl:value-of select="/atom:feed/atom:title"/> {{ t('(feed)') }}</title>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
                <meta name="viewport" content="width=device-width,initial-scale=1"/>
                <link rel="stylesheet" href="{{ url_asset('stylesheets/application.css') }}"/>
            </head>
            <body>
                <div class="layout layout--disconnected">
                    <main class="layout__main">
                        <section class="layout__content layout__content--application">
                            <div class="wrapper wrapper--center">
                                <div class="layout__body layout__body--large">
                                    <div class="wrapper wrapper--small wrapper--center flow text--center">
                                        <h1>
                                            <xsl:value-of select="/atom:feed/atom:title"/>
                                        </h1>

                                        <p>
                                            {{ t('<strong>This is an Atom feed.</strong> You can follow its publications by adding its <abbr>URL</abbr> to your feed aggregator.') | raw }}
                                        </p>

                                        <p>
                                            <a class="button button--primary button--big">
                                                <xsl:attribute name="href">
                                                    <xsl:value-of select="/atom:feed/atom:link[@rel='alternate']/@href"/>
                                                </xsl:attribute>
                                                {{ t('Follow on %s', [app.brand]) }}
                                            </a>
                                        </p>
                                    </div>

                                    <h2>{{ t('Feed overview') }}</h2>

                                    <xsl:for-each select="/atom:feed/atom:entry">
                                        <article class="feed__entry">
                                            <h3>
                                                <xsl:value-of select="atom:title" disable-output-escaping="yes"/>
                                            </h3>

                                            <small>
                                                {{ t('Published on:') }} <xsl:value-of select="substring(atom:updated,1,10)" />
                                                —
                                                <a target="_blank" rel="noopener noreferrer">
                                                    <xsl:attribute name="href">
                                                        <xsl:value-of select="atom:link/@href"/>
                                                    </xsl:attribute>
                                                    {{ t('Read on the website') }}
                                                </a>
                                            </small>
                                        </article>
                                    </xsl:for-each>
                                </div>
                            </div>
                        </section>
                    </main>
                </div>
            </body>
        </html>
    </xsl:template>
</xsl:stylesheet>
