{% extends 'layouts/modal.html.twig' %}

{% block title %}{{ t('Settings for the news') }}{% endblock %}

{% block body %}
    <div class="wrapper wrapper--small wrapper--center flow flow--large">
        <p class="text--center text--bold">
            {{ collection.name() }}
        </p>

        <form method="post" action="{{ url('update collection filter', { id: collection.id }) }}" class="flow">
            {{ include('alerts/_error.html.twig', { message: form.error('@base') }) }}

            <fieldset class="flow">
                <legend>{{ t('How to filter the links from this feed in the news?') }}</legend>

                {% if form.isInvalid('time_filter') %}
                    <p id="time-filter-error" class="form-group__error">
                        {{ t('Error:') }}
                        {{ form.error('time_filter') }}
                    </p>
                {% endif %}

                <div class="form-group">
                    <input
                        type="radio"
                        id="time-filter-strict"
                        name="time_filter"
                        value="strict"
                        {{ form.time_filter == 'strict' ? 'checked' : '' }}
                        aria-describedby="time-filter-strict-caption"
                        {% if form.isInvalid('time_filter') %}
                            aria-errormessage="time-filter-error"
                            aria-invalid="true"
                        {% endif %}
                    />

                    <label class="label--radio" for="time-filter-strict">
                        {{ t('Strict') }}
                    </label>

                    <p class="form-group__caption form-group__caption--alt" id="time-filter-strict-caption">
                        {{ t('You’ll receive the links published during the last 24 hours (recommended for high-traffic feeds).') }}
                    </p>
                </div>

                <div class="form-group">
                    <input
                        type="radio"
                        id="time-filter-normal"
                        name="time_filter"
                        value="normal"
                        {{ form.time_filter == 'normal' ? 'checked' : '' }}
                        aria-describedby="time-filter-normal-caption"
                        {% if form.isInvalid('time_filter') %}
                            aria-errormessage="time-filter-error"
                            aria-invalid="true"
                        {% endif %}
                    />

                    <label class="label--radio" for="time-filter-normal">
                        {{ t('Normal') }}
                    </label>

                    <p class="form-group__caption form-group__caption--alt" id="time-filter-normal-caption">
                        {{ t('You’ll receive the links published over the past week (recommended for most of the feeds).') }}
                    </p>
                </div>

                <div class="form-group">
                    <input
                        type="radio"
                        id="time-filter-all"
                        name="time_filter"
                        value="all"
                        {{ form.time_filter == 'all' ? 'checked' : '' }}
                        aria-describedby="time-filter-all-caption"
                        {% if form.isInvalid('time_filter') %}
                            aria-errormessage="time-filter-error"
                            aria-invalid="true"
                        {% endif %}
                    />

                    <label class="label--radio" for="time-filter-all">
                        {{ t('All') }}
                    </label>

                    <p class="form-group__caption form-group__caption--alt" id="time-filter-all-caption">
                        {{ t('You’ll receive all the published links (recommended if you don’t want to miss anything).') }}
                    </p>
                </div>
            </fieldset>

            <div class="text--center">
                <button type="submit" class="button--primary button--big">
                    {{ t('Save changes') }}
                </button>
            </div>

            <input type="hidden" name="csrf_token" value="{{ csrf_token(form) }}" />
        </form>
    </div>
{% endblock %}
