{% extends 'mailers/base.html.twig' %}

{% block logo %}
    {{ include('mailers/_logo.html.twig', { cid: logo_cid }) }}
{% endblock %}

{% block body %}
    <p>
        {{ t('Hello %s,', [username]) }}
    </p>

    <p>
        {{ t('You receive this email because you’ve asked to reset your password on %s. You just have to click on the following link and follow the instructions:', [app.brand]) }}<br />

        <a href="{{ url_full('edit password', { t: token }) }}">
            {{ url_full('edit password', { t: token }) }}
        </a>
    </p>

    <p>
        {{ t('If you didn’t ask to reset your password, please ignore this email.') }}
    </p>
{% endblock %}
