{% extends 'layouts/application.html.twig' %}

{% set owner = link.owner %}
{% set is_read = app.user and link.isReadBy(app.user) %}
{% set in_bookmarks = app.user and link.isInBookmarksOf(app.user) %}

{% block title %}{{ link.title }}{% endblock %}
{% block canonical %}{{ url_full('link', { id: link.id }) }}{% endblock %}

{% block alternates %}
    <link rel="alternate" type="application/atom+xml" title="{{ t('Syndication feed of notes on %s', [link.title]) }}" href="{{ url_full('link feed', { id: link.id }) }}">
{% endblock %}

{% block opengraph %}
    {{ include('layouts/_opengraph.html.twig', {
        title: t('Shared on %s: %s', [app.brand, link.title]),
        description: t('A link shared by %s on %s.', [owner.username, app.brand]),
        locale: owner.locale,
        url: url_full('link', { id: link.id }),
        image: url_media_full('covers', link.image_filename),
    }) }}
{% endblock %}

{% block layout_header %}
    {{ include('layouts/_header.html.twig', { page: 'link' }) }}
{% endblock %}

{% block back %}
    {{ include('layouts/_back.html.twig', { title: link.title }) }}
{% endblock %}

{% block body %}
    <div class="cols cols--gap-large">
        <div class="col--size3 text--center">
            <img
                class="illustration"
                alt=""
                src="{{ url_media('covers', link.image_filename) }}"
            >
        </div>

        <div class="col--extend flow flow--large">
            <div class="flow">
                <div class="cols cols--gap">
                    <h1 class="col--extend text--break">
                        <a
                            class="anchor--nostyle"
                            target="_blank"
                            rel="noopener noreferrer"
                            href="{{link.url }}"
                            tabindex="-1"
                        >
                            {{ link.title }}
                        </a>
                    </h1>

                    <div class="col--noshrink">
                        <a
                            class="button button--primary button--big"
                            target="_blank"
                            rel="noopener noreferrer"
                            href="{{ link.url }}"
                        >
                            {{ icon('pop-out') }}
                            {{ t('read') }}
                            <span class="sr-only">
                                {{ t('(open a new window)') }}
                            </span>
                        </a>
                    </div>
                </div>

                {% if app.user %}
                    <div class="stack stack--gap-small">
                        {% if not is_read or in_bookmarks %}
                            <form data-turbo-preserve-scroll method="post" action="{{ url('mark link as read', { id: link.id }) }}">
                                <button>
                                    {{ icon('check') }}
                                    {{ t('Mark as read') }}
                                </button>

                                <input type="hidden" name="csrf_token" value="{{ csrf_token('links\\MarkLinkAsRead') }}" />
                            </form>
                        {% endif %}

                        {% if not in_bookmarks %}
                            <form data-turbo-preserve-scroll method="post" action="{{ url('read link later', { id: link.id }) }}">
                                <button>
                                    {{ icon('bookmark') }}
                                    {{ t('Read later') }}
                                </button>

                                <input type="hidden" name="csrf_token" value="{{ csrf_token('links\\MarkLinkAsReadLater') }}" />
                            </form>
                        {% endif %}

                        {% set number_collections = link.numberCollectionsForUser(app.user) %}

                        <button
                            class="link__collections-button"
                            data-controller="modal-opener"
                            data-action="modal-opener#fetch"
                            data-modal-opener-href-value="{{ url('link collections', { id: link.id }) }}"
                            aria-haspopup="dialog"
                            aria-controls="modal"
                        >
                            {{ icon('collection') }}
                            {% if number_collections == 0 %}
                                {{ t('No collections') }}
                            {% else %}
                                {{ t('%d collection', '%d collections', number_collections, [number_collections]) }}
                            {% endif %}
                        </button>

                        {% if can(app.user, 'shareOnMastodon', link) %}
                            <button
                                data-controller="modal-opener"
                                data-action="modal-opener#fetch"
                                data-modal-opener-href-value="{{ url('new link mastodon thread', { id: link.id }) }}"
                                aria-haspopup="dialog"
                                aria-controls="modal"
                                aria-label="{{ t('Share on Mastodon') }}"
                            >
                                {{ icon('mastodon') }}
                                {{ t('Share') }}
                            </button>
                        {% endif %}
                    </div>
                {% endif %}

                <p>
                    {% if not link.fetched_at %}
                        <span>
                            {{ icon('sync', 'spin') }}
                            {{ t('ongoing synchronisation…') }}
                        </span>
                    {% else %}
                        {{ link.host }}&nbsp;·&nbsp;{{ link.reading_time | format_reading_time }}
                    {% endif %}

                    {% if is_read %}
                        &nbsp;<span title="{{ t('You read this link.') }}">{{ icon('check') }}<span class="sr-only">{{ t('You read this link.') }}</span></span>
                    {% endif %}

                    {% if in_bookmarks %}
                        &nbsp;<span title="{{ t('This link is in your bookmarks.') }}">{{ icon('bookmark') }}<span class="sr-only">{{ t('This link is in your bookmarks.') }}</span></span>
                    {% endif %}
                </p>

                <p>
                    {{ t('Added by') }}
                    <a class="username" href="{{ url('profile', { id: owner.id }) }}">
                        <img class="avatar avatar--mini" alt="" src="{{ url_avatar(owner.avatar_filename) }}">
                        {{- owner.username -}}
                    </a>
                </p>

                {% set suggested_links = app.user ? app.user.suggestedLinksFor(link) : [] %}

                {% if suggested_links %}
                    <p>
                        {{ t('See notes by') }}

                        {%- for suggested_link in suggested_links -%}
                            {% if not loop.first %}, {% endif %}
                            {% set suggested_link_owner = suggested_link.owner %}
                            <a class="username" href="{{ url('link', { id: suggested_link.id }) }}">
                                <img class="avatar avatar--mini" src="{{ url_avatar(suggested_link_owner.avatar_filename) }}" alt="">
                                {{- suggested_link_owner.username -}}
                            </a>
                        {%- endfor -%}
                    </p>
                {% endif %}

                {% if link.tags %}
                    <p class="stack stack--gap-smaller">
                        {% for tag in link.tags %}
                            <a class="badge badge--tag" href="{{ url('links', { q: "#" ~ tag }) }}">
                                #{{ tag }}
                            </a>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="notepad" class="wrapper wrapper--center panel panel--rounded flow flow--larger">
        <div class="wrapper wrapper--small wrapper--center flow flow--large">
            <h2 class="text--center">{{ t('Notepad') }}</h2>

            {% if link.is_hidden %}
                <p class="text--secondary text--center">
                    {{ t('This link being hidden, the notes are private.') }}
                </p>
            {% endif %}

            {% set notepad = link.notepad %}
            {% if notepad %}
                {{ include('notes/_notepad.html.twig', { display_actions: true }) }}
            {% else %}
                <p class="panel panel--base panel--rounded panel--larger text--bolder text--center">
                    {{ t('No notes have yet been taken.') }}
                </p>
            {% endif %}

            {% if form %}
                <form
                    data-turbo-preserve-scroll
                    method="post"
                    action="{{ url('links/create note', { link_id: link.id }) }}"
                    data-controller="autosave"
                    data-action="turbo:submit-start@document->autosave#clear"
                    class="flow"
                >
                    {{ include('alerts/_error.html.twig', { message: form.error('@base') }) }}

                    <div class="form-group">
                        <label for="content">
                            {{ t('What do you retain from this content?') }}
                        </label>

                        {% if form.isInvalid('content') %}
                            <p id="content-error" class="form-group__error">
                                {{ t('Error:') }}
                                {{ form.error('content') }}
                            </p>
                        {% endif %}

                        <textarea
                            id="content"
                            name="content"
                            required
                            data-controller="text-editor"
                            data-action="text-editor#refresh keyup->autosave#save"
                            aria-describedby="content-caption"
                            {% if form.isInvalid('content') %}
                                aria-errormessage="content-error"
                                aria-invalid="true"
                            {% endif %}
                        >{{ form.content }}</textarea>

                        <p id="content-caption" class="form-group__caption">
                            {{ t('You can format the content in Markdown and use #tags.') }}
                        </p>
                    </div>

                    <div class="text--center">
                        <button type="submit" class="button--primary button--big">
                            {{ t('Add a note') }}
                        </button>
                    </div>

                    <input type="hidden" name="csrf_token" value="{{ csrf_token(form) }}" />
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
