{% extends 'layouts/application.html.twig' %}

{% block title %}{{ stream.name }}{% endblock %}
{% block canonical %}{{ url_full('stream', { id: stream.id }) }}{% endblock %}

{% block layout_header %}
    {{ include('layouts/_header.html.twig', { page: 'stream', tab: 'reading' }) }}
{% endblock %}

{% block layout_sidenav %}
    {{ include('layouts/_sidenav.html.twig', { navigation: reading_navigation(current: stream.id) }) }}
{% endblock %}

{% block back %}
    {{ include('layouts/_back.html.twig', { title: stream.name, reset: true }) }}
{% endblock %}

{% block body %}
    <div class="cols cols--gap-large">
        <div class="col--size3 text--center">
            <img
                class="illustration"
                alt=""
                src="{{ url_media('covers', stream.image_filename, 'collection-card.png') }}"
            >
        </div>

        <div class="col--extend flow">
            <h1 class="text--break">{{ stream.name }}</h1>

            <p class="stack stack--gap">
                <span title="{{ t('Publication frequency') }}">
                    {{ icon('frequency') }}
                    {{ stream.publicationFrequencyPerYear | format_publication_frequency }}
                </span>

                <a href="{{ url('stream sources', { id: stream.id }) }}">
                    {% set sources = stream.sources %}
                    {{ t('%d source', '%d sources', sources | length, [sources | length]) }}
                </a>
            </p>

            <p>
                {{ t('By') }}
                <a class="username" href="{{ url('profile', { id: stream.user.id }) }}">
                    <img class="avatar avatar--mini" alt="" src="{{ url_avatar(stream.user.avatar_filename) }}">
                    {{- stream.user.username -}}
                </a>
            </p>

            {% if stream.description %}
                <div class="text-container">
                    {{ stream.descriptionAsHtml | raw }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="panel panel--rounded stack stack--gap-small">
        <a class="button" href="{{ url('edit stream sources', { id: stream.id }) }}">
            {{ t('Manage sources') }}
        </a>
    </div>

    <div class="panel panel--border panel--rounded flow">
        <div class="stream__timeline">
            <ol class="stream__timeline-container">
                {% for day in stream_view.timeline %}
                    <li>
                        {% set countDay = stream_view.countByDay(day, app.user) %}
                        <a
                            class="stream__timeline-date"
                            href="{{ stream_view.urlAt(day) }}"
                            {% if stream_view.isAt(day) %}aria-current="page"{% endif %}
                            data-turbo-preserve-scroll
                        >
                            <div class="stream__timeline-bar-container">
                                <div
                                    class="stream__timeline-bar"
                                    style="--bar-height: {{ countDay }}%;"
                                ></div>
                            </div>
                            <span class="stream__timeline-date-day">
                                {{ d(day, 'EEE d MMM') }}
                            </span>
                            <span class="stream__timeline-date-count">
                                {{ countDay }}
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>

        <div class="panel__separator"></div>

        <div class="flow flow--small">
            {% set sources_and_counts = stream_view.countedSources(context_user: app.user) %}

            <p class="text--bold">
                {{ t('Sources (%d)', [sources_and_counts | length]) }}
            </p>

            <div class="stack stack--gap-small">
                {% for source_and_count in sources_and_counts %}
                    {% set source = source_and_count[0] %}
                    {% set count_all_links = source_and_count[1] %}
                    {% set count_unread_links = source_and_count[2] %}

                    <a
                        class="button button--source"
                        href="{{ stream_view.urlSource(source.id) }}"
                        {% if stream_view.isSource(source) %}aria-current="page"{% endif %}
                        title="{{ t('%s : %d link', '%s : %d links', count_all_links, [source.name, count_all_links]) }} {% if count_unread_links > 0 %}{{ t('(has unread)') }}{% endif %}"
                        data-turbo-preserve-scroll
                    >
                        <img
                            class="source__image"
                            alt=""
                            src="{{ url_media('covers', source.image_filename, 'collection-card.png') }}"
                        >

                        <div class="col--extend flow flow--smaller">
                            <div class="source__name text--left">
                                {{ source.name }}
                            </div>

                            <div class="text--secondary text--right">
                                {% if count_unread_links > 0 %}
                                    <span class="source__unread-dot">
                                    </span>
                                {% endif %}

                                {{ count_all_links }}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="panel__separator"></div>

        <div class="stack stack--gap-smaller">
            <a
                class="button"
                href="{{ stream_view.urlStatus('all') }}"
                {% if stream_view.isStatus('all') %}aria-current="page"{% endif %}
                data-turbo-preserve-scroll
            >
                {{ t('All') }}
            </a>

            <a
                class="button"
                href="{{ stream_view.urlStatus('unread') }}"
                {% if stream_view.isStatus('unread') %}aria-current="page"{% endif %}
                data-turbo-preserve-scroll
            >
                {{ t('Links unread') }}
            </a>

            <a
                class="button"
                href="{{ stream_view.urlStatus('to-read') }}"
                {% if stream_view.isStatus('to-read') %}aria-current="page"{% endif %}
                data-turbo-preserve-scroll
            >
                {{ t('To read') }}
            </a>

            <a
                class="button"
                href="{{ stream_view.urlStatus('read') }}"
                {% if stream_view.isStatus('read') %}aria-current="page"{% endif %}
                data-turbo-preserve-scroll
            >
                {{ t('Links read') }}
            </a>
        </div>
    </div>

    {% set links_timeline = stream_view.linksTimeline(context_user: app.user) %}

    {% if not links_timeline.empty %}
        <div class="flow flow--large" data-controller="zindex-inverser">
            {% for date_group in links_timeline.datesGroups %}
                <section class="group flow">
                    <header class="group__header" data-zindex-inverser-target="item">
                        <h2 class="group__title">
                            {{ d(date_group.date, 'dd MMMM') }}
                        </h2>

                        <div class="group__separator"></div>
                    </header>

                    <div class="group__body flow">
                        {% set links = date_group.links %}

                        {% if links %}
                            <div class="grid">
                                {% for link in date_group.links %}
                                    {{ include('links/_link.html.twig', {
                                        link: link,
                                        display_read_later: 'auto',
                                        display_mark_as_read: 'auto',
                                        storing_must_mark_as_read: true,
                                    })}}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% for source_group in date_group.sourceGroups %}
                            <div class="source-group flow flow--small">
                                <div class="source-group__header cols cols--always cols--gap cols--center">
                                    <h3 class="source-group__title">
                                        {{ source_group.source.name() }}
                                    </h3>

                                    <span class="col--noshrink text--secondary">
                                        {{ t('%s link', '%s links', source_group.links | length, [source_group.links | length]) }}
                                    </span>
                                </div>

                                <div class="source-group__body grid">
                                    {% for link in source_group.links %}
                                        {{ include('links/_link.html.twig', {
                                            link: link,
                                            display_read_later: 'auto',
                                            display_mark_as_read: 'auto',
                                            storing_must_mark_as_read: true,
                                        }) }}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
