{% extends 'layouts/modal.html.twig' %}

{% block title %}{{ t('Profile') }}{% endblock %}

{% block body %}
    <div class="wrapper wrapper--small wrapper--center flow flow--large">
        <form method="post" action="{{ url('update profile') }}" class="flow">
            {{ include('alerts/_error.html.twig', { message: form.error('@base') }) }}

            <div class="form-group">
                <label for="username">
                    {{ t('Your name') }}
                    <span class="label__help">
                        {{ t('(public, max. %d characters)', [form.username_max_length]) }}
                    </span>
                </label>

                {% if form.isInvalid('username') %}
                    <p id="username-error" class="form-group__error">
                        {{ t('Error:') }}
                        {{ form.error('username') }}
                    </p>
                {% endif %}

                <input
                    type="text"
                    name="username"
                    id="username"
                    value="{{ form.username }}"
                    maxlength="{{ form.username_max_length }}"
                    required
                    autocomplete="nickname"
                    {% if form.isInvalid('username') %}
                        aria-errormessage="username-error"
                        aria-invalid="true"
                    {% endif %}
                >
            </div>

            <div class="form-group">
                <label for="biography">
                    {{ t('A few words about you and your monitoring practices') }}
                    <span class="label__help">
                        {{ t('(public, optional)') }}
                    </span>
                </label>

                {% if form.isInvalid('biography') %}
                    <p id="biography-error" class="form-group__error">
                        {{ t('Error:') }}
                        {{ form.error('biography') }}
                    </p>
                {% endif %}

                <textarea
                    id="biography"
                    name="biography"
                    data-controller="text-editor"
                    data-action="text-editor#refresh keyup->autosave#save"
                    aria-describedby="biography-caption"
                    {% if form.isInvalid('biography') %}
                        aria-errormessage="biography-error"
                        aria-invalid="true"
                    {% endif %}
                >{{ form.biography }}</textarea>

                <p id="biography-caption" class="form-group__caption">
                    {{ t('You can format this section in Markdown and use #tags.') }}
                </p>
            </div>

            <div class="text--center">
                <button type="submit" class="button--primary button--big">
                    {{ t('Save changes') }}
                </button>
            </div>

            <input type="hidden" name="csrf_token" value="{{ csrf_token(form) }}">
        </form>
    </div>
{% endblock %}
