<header class="layout__header cols cols--always cols--gap cols--center">
    <div class="col--extend">

    <div class="text--center">
        <a
            class="header__link {{ current_tab == 'reading' ? 'header__link--active' : '' }}"
            {{ current_page == 'reading' ? 'aria-current="page"' : '' }}
            href="{{ url('news') }}"
        >
            {{ icon('reading') }}

            <span class="sr-mobile">
                {{ t('Reading') }}
            </span>
        </a>

        <a
            class="header__link {{ current_tab == 'links' ? 'header__link--active' : '' }}"
            {{ current_page == 'links' ? 'aria-current="page"' : '' }}
            href="{{ url('links') }}"
        >
            {{ icon('link') }}
            <span class="sr-mobile">
                {{ t('My links') }}
            </span>
        </a>

        <a
            class="header__link {{ current_tab == 'feeds' ? 'header__link--active' : '' }}"
            {{ current_page == 'feeds' ? 'aria-current="page"' : '' }}
            href="{{ url('feeds') }}"
        >
            {{ icon('feed') }}
            <span class="sr-mobile">
                {{ t('Feeds') }}
            </span>
        </a>
    </div>

    <div class="col--extend">
</header>
