<div class="sidenav" data-controller="sidenav">
    <button
        type="button"
        class="sidenav__button button--big button--block"
        data-action="sidenav#open"
        data-sidenav-target="opener"
        aria-expanded="false"
    >
        {{ icon('bars') }}
        {{ t('Navigation') }}
    </button>

    <div class="sidenav__container" data-action="click->sidenav#closeOnMask">
        <nav class="sidenav__menu flow flow--smaller">
            <div class="text--right">
                <button
                    type="button"
                    class="sidenav__button button--icon"
                    data-action="sidenav#close"
                    data-sidenav-target="closer"
                >
                    {{ icon('times') }}
                    <span class="sr-only">
                        {{ t('Close') }}
                    </span>
                </button>
            </div>

            {% for element in navigation.elements %}
                {{ include('layouts/_sidenav_element.html.twig') }}
            {% endfor %}
        </nav>
    </div>
</div>
